*{
	padding: 0px;
	margin:0px;
}
div{
	float: left;
	box-sizing: border-box;
}
.c{
    width: 200px;
    height: 200px;
    margin:0px auto;
    float:none;
    border:3px solid #D33232;
    border-radius: 100px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    transform: rotate(530deg);
}
.main_bg{
    width: 100%;
    height: 750px;
    background: url(../assets/bg.jpg);
    background-size: cover;
}
.banner_box{
    width: 625px;
    position: relative;
    top: 200px;
    left: 270px;
}
.banner_box .shor_title{
    width: 100%;
    text-align: center;
    color: #383838;
    font-size: 18px;
}
.banner_box .title{
    color: #383838;
    font-size: 64px;
}
.banner_box .mark{
    width: 100%;
    background: #000;
    color: #e4e4e4;
    padding: 5px 15px;
    font-size: 19px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.banner_box .copy_right{
    width: 100%;
    margin-top: 20px;
}
.banner_box .copy_right .border{
    width: 130px;
    border: 1px solid #f0f0f0;
    height: 4px;
    border-left: none;
    border-right: none;
}
.banner_box .copy_right .border.right{
    float: right;   
}
.banner_box .copy_right span{
    font-size: 26px;
    color: #00a99d;
    position: relative;
    top: -12px;
    left: 18px;
}
.banner_box .copy_right samp{
    font-size: 26px;
    position: relative;
    top: -12px;
    left: 24px;
}
@media only screen and (max-width:840px){
    .banner_box{
        margin:0px auto;
        float:none;
        left:0px;
    }
}
@media only screen and (max-width:480px){
    .banner_box{
        width:90%;
    }
    .banner_box .copy_right .border{width:70px;}
}
@media only screen and (max-width:320px){
    .banner_box .title{font-size:30px;}
    .banner_box .mark{font-size:15px;}
    .banner_box .copy_right .border{width:100%;border-color:#fff}
    .main_bg .banner_box .copy_right *{top:0px;}
    /*.banner_box .copy_right samp{top:0px;}*/
}