*{
	margin: 0px;
	padding: 0px;
}
div{
	float: left;
	box-sizing: border-box;
}
.nav_bar{
	width: 100%;
	color:#fff;
	height: 100px;
    position:fixed;
    z-index: 3;
    background-color: #fff;
}
.container{
	float: none;
	width: 90%;
	margin: 0px auto;
}
.logo{
	color: #000;
	font-family: 'Roboto Mono', monospace;
	font-size: 35px;
	font-weight: 600;
    line-height: 100px;
    text-transform: uppercase;
    cursor: pointer;
}
.color{
	color:#26D2C5 !important;
}
.text{
	text-transform: uppercase;
	color:#B1B0B2;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	position: relative;
	top:48px;
    left:50px;
}
.link a{
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	font-family: 'Roboto Mono', monospace;
	font-size:18px;
	text-transform: uppercase;
	position: relative;
	left:120px;
	top: 43px;
	color:#8B8B8E;
}
.link a:hover{
		color:#26D2C5; 
}
.margin_left{
	margin-left: -10px !important;
}
.icon{
	float: right;
	position: relative;
	top: 30px;

}
.icon .icons:hover{
	color:#26D2C5;
	cursor: pointer; 
}
.icons{
    color:#8B8B8E;	
	font-size: 40px;
}
.position_relative{
	position: relative;
}
.drop{
	position: absolute;
	width: 202px;
	height:196px;
	background-color:#fff;
	top:120px;
    left: 711px;
    display: none;
    border: 1px solid#fff;
}
.drop li{
	margin-bottom: 20px;
	font-family: 'Roboto Mono', monospace;
    font-size:17px;
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid#D1D2DC;
    color: #BDC0C9;
    cursor: pointer;
}
.drop li:hover{
	color:#000;
}
.dp:hover .drop{
	display: block;
 }
.first_drop{
	position:absolute;
	top:120px;
	left: 162px;
 	width:76.22%;
 	height:460px;
 	background-color:#fff;
 	border:1px solid#fff;
 	display:none;
 }
 .first_ul{
 	float: left;
 }
 .first_drop li{
 	padding: 10px;
 	margin-bottom:20px;
 	border-bottom: 1px solid#B1B0B2;
 	font-family: 'Roboto Mono', monospace;
 	list-style-type: none;
 	font-size: 14px;
 	color: #B1B0B2;
 }
 .first_drop .space{
 	padding: 10px;
   margin-bottom: 20px;
   color: #000;
   text-transform: uppercase;
   font-size:24px;
   font-weight: 600;
   font-family: 'Roboto Mono', monospace;
 }
 .width{
 	width: 29.2%;
 }
 .font{
 		font-family: 'Roboto Mono', monospace;
 }
 .margin_left1{
 	margin-left:20px;
 }
 .par{
 	font-size: 14px;
 	color: #B1B0B2;
 }
 .border_bottom{
 	border-bottom: none !important;
 }
 .dp_1:hover .first_drop{
 	display: block;
 }
 .nav_bar2{
 	width: 100%;
 	height: 50px;
 	background-color: #fff;
 	position: relative;
 	top: 99px;
 }
 .home{
 	 	border-right: 1px solid#BDC0C9;
 	 	max-height: 19px;

 }
 .home a{
 	padding-right: 10px;
 	text-decoration:none;
 	font-family: 'Roboto Mono', monospace;
 	color: #BDC0C9;
 }
 .about a{
 	margin-left: 10px;
 	text-decoration:none;
 	font-family: 'Roboto Mono', monospace;
 	color:#26D2C5;
 }
 .box_2{
 	width: 100%;
 	height:593px;
 	position: relative;
 	top: 99px;
 	background-image: url(../img/2.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 }
 .pic_gredient{
 	width: 100%;
 	height: 593px;
 	background-color:#475063e3;
 }
 .text_2{
 	text-align: center;
 	line-height: 593px;
 	font-family: 'Roboto Mono', monospace;
 	font-size:70px;
 	color: #fff;
 }
.par_1{
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    top: 200px;
    color:#4C535A;
}
.par_2{
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    top: 200px;
    color:#4C535A;
}
.box_3{
	width: 100%;
	float: none;
	position: relative;
	top: 230px;
}
.width_par{
	width: 30%;
	color:#B8BBC0;
	font-family: 'Roboto Mono', monospace;
    font-size:16px;
    padding: 20px;
    margin-left: 20px;
}
.box_4{
	width: 100%;
	height: 250px;
	background-color:#F0EFF0;
	float: none;
	position: relative;
	top: 1000px;
}
.min_box1{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
}
.min_box1:hover{
	background-color:#26D2C5;
}
.min_box2{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
	left: 337px;
}
.min_box2:hover{
	background-color:#26D2C5;
	color:#FFF;
}
.min_box3{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
	left:674px;
}
.min_box3:hover{
	background-color:#26D2C5;
	color:#FFF;
}
.min_box4{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
	left: 1011px;
}
.min_box4:hover{
	background-color:#26D2C5;
	color:#FFF;
}
.font_size{
	font-size: 80px;
	color:#B3B2B6;
}
.text_center{
	text-align: center;
	font-size:20px;
 	color: #B1B0B2;
 	font-family: 'Roboto Mono', monospace;
}
.text_cen{
	text-align: center;
}
.margin_top1{
	margin-top: 20px;
}
.contant{
	background-image: url(../img/3.jpg);
	background-size: cover;
	height:500px;
	position: relative;
	top:673px;
	width: 100%;
}
.pic_gredient2{
	height: 500px;
	width: 100%;
	background-color:#535c6ccc;
}
.par_3{
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    top:18px;
    color:#26D2C5;
}
.ab{
	position: absolute;
}
.range{
	left: 561px;
    top: 50px;
    color: #000 !important;
}
.par_4{
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size:35px;
    top:20px;
    color:#26D2C5;
}
.par_5{
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size:12px;
    top:40px;
    color:#BEBFC6;
}
.input_1{
	font-size: 26px;
    padding: 10px;
    color:#fff !important;
    background:none;
    border:2px solid#fff;
    width: 330px;
}
.inp1{
	position: relative;
    top: 142px;
    left: 142px;
}
.inp2{
	position: relative;
    top: 142px;
    left: 185px;
}
.inp3{
	position: relative;
    top: 138px;
    left: 243px;
    cursor: pointer;
}
.input_2{
	padding:20px;
    color: white;
    background-color:#26D2C5;
    outline: none;
    border: none;
}
.team{
	width: 100%;
	float: none;
	height:500px;
	background:#fff;
	position: relative;
	top:673px;
	overflow: hidden;
}
.footer_2{
	width: 100%;
	float: none;
	height: 150px;
	background-color:#F0EFF0;
	position: relative;
	top:1173px;
}
.new_york{
	top:50px;
    position:absolute;
    left: 70px;
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    color: #8B8B8E;
}
.new_york a{
	color: #000;
	font-size: 30px;
}
.hi{
    position:relative;
    height: 387px;
    top: 113px;
    left:0px;
    overflow: hidden;
}
.team_1{
	position: absolute;
	width:36%;
	height:387px;
}
.team_2{
	position: absolute;
	width:36%;
	height:387px;
	left: 365px;
}
.team_3{
	position: absolute;
	width:36%;
	height:387px;
	left: 730px;
}
.team_4{
	position: absolute;
	width:36%;
	height:387px;
	left: 1095px;
}
.team_5{
	position: absolute;
	width:36%;
	height:387px;
	left: 1460px;
}
.cir{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    position: absolute;
    width:41%;
    height: 179px;
    top:102px;
    left:141px;
}
.cir1{
	background-image: url(../img/profile1.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
.cir2{
	background-image: url(../img/4.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
.cir3{
	background-image: url(../img/5.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
.home_box1{
	width: 100%;
	height:650px;
	background-image:url(../img/6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.home_box2{
	width: 100%;
	height: 650px;
	position: relative;
	background-color:#555e6db5;
}
.home_box3{
    width: 100%;
    height:650px;
    position: relative;
}
.container_home_box3{
	width: 80%;
	float: none;
	height:500px;
	position: absolute;
	top: 150px;
    left: 136px;
}
.min_home_box{
	width: 25.28%;
	height: 400px;
	margin: 20px;
}
.paragraph_box{
	font-family: 'Roboto Mono', monospace;
	font-size:50px;
	color: #1C283C;
}
.paragraph_box2{
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	color: #CBCCD6;
}
.paragraph_box3{
	font-size: 14px;
	font-family: 'Roboto Mono', monospace;
	color: #CBCCD6;
}
.home_box4{
	width: 100%;
	height:1900px;
	background-image:url(../img/7.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}
.home_box4_box1{
	width: 100%;
	height:250px;
	background-color:#26d2c5bf;
}
.home_box4_paragraph{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
    font-size: 60px;
    line-height: 250px;
    color:#FCFFFF;
    cursor: pointer;
}
.home_box4_box2{
	width:50%;
	height:450px;
	background-color:#fcffffeb;
	position: relative;
}
.home_box4_box3{
	width:50%;
	height:450px;
	background-color:#fcffffeb;
	position: relative;
}
.watch{
	font-size: 100px;
	position: absolute;
	top:133px;
    left: 289px;
    color:#464446;
}
.home_box4_box2_pargraph{
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
    text-align: center;
    position: absolute;
    top: 270px;
    left: 260px;
    color: #464446;
}
.home_box4_box2_pargraph2{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
    font-size: 12px;
    position: absolute;
    top: 260px;
    left: 0px;
    display: none;
    color: #BEC2C4;
}
.hidden{
	display: none;
}
.home_box4_box2:hover{
	background-color:#363240c2;
}
.home_box4_box2:hover .hidden{	
	display: block;
}
.home_box4_box2:hover .watch{
	font-size: 100px;
	position: absolute;
	top:70px;
    left: 289px;
    color:#F7FDFF;
}
.home_box4_box2:hover .home_box4_box2_pargraph{
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 260px;
    color: #BEC2C4;
}
.home_box4_box3:hover{
	background-color:#363240c2;
}
.home_box4_box3:hover .hidden{	
	display: block;
}
.home_box4_box3:hover .watch{
	font-size: 100px;
	position: absolute;
	top:70px;
    left: 289px;
    color:#F7FDFF;
}
.home_box4_box3:hover .home_box4_box2_pargraph{
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 260px;
    color: #BEC2C4;
}
.col{
	background-color:#32b8cbcf;
}
.left{
	left: 343px !important;
}
.colp{
	left: 190px !important;
}
.botton{
	width: 100%;
	height: 300px;
    background-color:#32b8cbcf;
    position: relative;
}
.botton_box{
	cursor: pointer;
	overflow: hidden;
	width:20%;
	position: absolute;
    top: 133px;
    left: 553px;
	height:50px; 
	border-right:2px solid#fff;
	border-left: 2px solid#fff; 
}
.botton_min_box{
	height: 50px;
	width:50%;
    border-top: 2px solid#fff;
	border-bottom: 2px solid#fff;
	position: absolute;
    left: -70px;
}
.botton_min_box2{
	height: 50px;
	width:50%;
	border-top: 2px solid#fff;
	border-bottom: 2px solid#fff;
    position: absolute;
    left: 210px;
}
.botton_box:hover .botton_min_box{
	left: 0px;
	transition:2s;
}
.botton_box:hover .botton_min_box2{
	left: 133px;
	transition:2s;
}
.botton_box_paragraph{
	font-family: 'Roboto Mono', monospace;
	position: absolute;
    top: 11px;
    left: 45px;
    font-size: 19px;
    color:#E6E6E6; 
}
.project_box{
	width: 100%;
	height:782px;
	background-color:#fff;
	position: relative;
}
.project_box_pargraph{
	font-size: 50px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color:#262C41;
    margin-top: 20px;
}
.container_project_box{
	width: 80%;
	height:650px;
	position: absolute;
	left: 180px;
	top: 130px;
}
.project_box_min{
	width:28%;
	height: 400px;
	margin-left: 20px;
}
.min_boxi{
	width:100%;
	height: 200px;
	margin-bottom: 20px;
}
.gredient_hove{
	width:100%;
	height: 200px;
}
.min_img{
	background-image: url(../img/8.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.min_img2{
	background-image: url(../img/9.jpg);
	background-size: cover;
	background-repeat: no-repeat;	
}
.min_img3{
    background-image: url(../img/10.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.further{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 21px;
    color: #7CD1CB;
    text-align: center;
}
.further2{
	margin-top: 20px;
	color:#828385;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	text-align: center;
}
.mirror{
	font-size: 49px;
    position: absolute;
    top:70px;
    left: 145px;
    color:#828385;
}
.mirror2{
	font-size: 49px;
    position: absolute;
    top:70px;
    left:460px;
    color:#828385;
}
.mirror3{
	font-size: 49px;
    position: absolute;
    top:70px;
    left:790px;
    color:#828385;
}
.gredient_hove:hover{
	cursor: pointer;
	background-color:#202a37bd;
}
.gredient_hove:hover .ic{
	  color: #26D2C5;
	  cursor: pointer;
}
.botton_min_2{
	top: 536px;
    left:382px;
    border-right: 2px solid#68666B;
    border-left: 2px solid#68666B;
}
.fon_pro{
	font-size: 17px;
	color:#68666B;
	left:26px;
}
.boxing{
	border-top: 2px solid#68666B;
    border-bottom: 2px solid#68666B;
}
.boxing_box{
	left: 188px;
}
.botton_min_2:hover .boxing_box{
	left: 106px;
}
.input_boxing{
	width: 100%;
	height:500px;
	background-image: url(../img/11.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.input_gradient{
	position: relative;
	width: 100%;
	height:500px;
	background-color:#26d2c5c4;
}
.input_box1{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	text-align: center;
	color: #fff;
}
.input_box2{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size:44px;
	text-align: center;
	color: #fff;
}
.input_box3{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size:14px;
	text-align: center;
	color: #fff;
}
.input_box3_min1{
	position: absolute;
	top: 260px;
    left: 210px;
}
.input_box3_min2{
	position: absolute;
	top: 260px;
    left:605px;
}
.input_box3_min3{
	position: absolute;
	top: 260px;
    left: 1000px;
    cursor: pointer;
}
.team_top{
	top: 0px;
}
.team_top2{
	left: 510px;
}
.icon_box{
	width: 100%;
	height: 500px;
	background-image:url(../img/12.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.icon_box_gradient{
	position: relative;
	width: 100%;
	height: 500px;
	background-color:#434e61d1;
}
.icon_box_min1{
	left: 400px;
    top: 165px;
}
.icon_box_min2{
	top: 165px;
    left: 800px;
}
.social_net{
	position: absolute;
    top: 240px;
    left: 394px;
}
.social_icons_box{
	position: absolute;
    top: 355px;
    left: 550px;
}
.what{
	font-size: 40px;
	padding: 20px;
	color:#EDEDF2;
	cursor: pointer;
}
.what:hover{
	color:#26D2C5;
}
.contact_information{
	width: 100%;
	height: 580px;
	background-color:#fff;
	position: relative;
}
.contact_box{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 40px;
	color: #212A39;
    text-align: center;
}
.container_contact_information{
	width: 80%;
	height: 500px;
	width: 80%;
    height: 500px;
    position: absolute;
    left: 134px;
}
.contact_box1{
	width:45%;
	height: 500px;
}
.contact_box2{
	width:55%;
	height: 500px;
}
.check{
	outline: none;
	color: #93949C !important;
	width:94%;
    padding:15px;
    font-size: 19px;
    margin-top: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid#DDDCE1;
}
.p_check{
	font-size: 25px;
	color: #26D2C5;
}
.p1_check{
	font-size: 22px;
    color:#808080;
    position: absolute;
    top: 30px;
}
.p2_check{
	position: absolute;
    top: 103px;
    font-size: 22px;
    color:#808080;
}
.p3_check{
	position: absolute;
    top: 175px;
    font-size: 22px;
    color:#808080;
}
.p4_check{
	position: absolute;
    top: 250px;
    font-size: 22px;
    color:#808080;
}
.info_p{
	left: 84px;
}
.info_p1{
	left: 486px;
    top: 370px;
}
.info_p1:hover .info_p{
	color:#26D2C5; 
}
.home_box2_min{
	width: 100%;
	height:300px;
	position: absolute;
	top: 350px;
}
.home_width{
	width: 25%;
	height: 300px;
    background-color:#26d2c5c9;
}
.libulb_home{
	font-size: 100px;
    position: absolute;
    top:80px;
    left: 115px;
    color: #fff;
}
.libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:210px;
    left: 66px;
    color: #fff;
}
.read_more{
	display: none;
	top: 215px;
    left:49px;
    top: 215px;
    width: 16%;
}
.read_more2{
	left: 58px;
}
.hovers_1:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_1:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left: 115px;
    color: #fff;
}
.hovers_1:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left: 66px;
    color: #fff;
}
.hovers_1:hover .read_more{
	display:block;
	top: 215px;
    left:49px;
    top: 230px;
    width: 16%;
}
.hom2{
	left: 462px;
}
.hom3{
	left: 430px
}
.hom4{
	left: 430px
}
.hovers_2:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_2:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left:462px;
    color: #fff;
}
.hovers_2:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left:430px;
    color: #fff;
}
.hovers_2:hover .read_more{
	display:block;
	top: 215px;
    left:400px;
    top: 230px;
    width: 16%;
}
.hom5{
	left: 778px;
}
.hom6{
	left: 733px;
}
.hom7{
	left: 730px;
}
.hovers_3:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_3:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left:778px;
    color: #fff;
}
.hovers_3:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left:733px;
    color: #fff;
}
.hovers_3:hover .read_more{
	display:block;
	top: 215px;
    left:730px;
    top: 230px;
    width: 16%;
}
.hom8{
	left: 1150px;
}
.hom9{
	left: 1090px;
}
.hom10{
	left: 1088px;
}
.hovers_4:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_4:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left:1150px;
    color: #fff;
}
.hovers_4:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left:1090px;
    color: #fff;
}
.hovers_4:hover .read_more{
	display:block;
	top: 215px;
    left:1088px;
    top: 230px;
    width: 16%;
}
@media only screen and (max-width: 767px) {
	*{
	margin: 0px;
	padding: 0px;
}
div{
	float: left;
	box-sizing: border-box;
}
.nav_bar{
	width: 100%;
	color:#fff;
	height: 100px;
    position:fixed;
    z-index: 3;
    background-color: #fff;
}
.container{
	float: none;
	width: 90%;
	margin: 0px auto;
}
.logo{
	color: #000;
	font-family: 'Roboto Mono', monospace;
	font-size: 35px;
	font-weight: 600;
    line-height: 100px;
    text-transform: uppercase;
    cursor: pointer;
}
.color{
	color:#26D2C5 !important;
}
.text{
	text-transform: uppercase;
	color:#B1B0B2;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	position: relative;
	top:48px;
    left:50px;
}
.link a{
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	font-family: 'Roboto Mono', monospace;
	font-size:18px;
	text-transform: uppercase;
	position: relative;
	left:120px;
	top: 43px;
	color:#8B8B8E;
}
.link a:hover{
		color:#26D2C5; 
}
.margin_left{
	margin-left: -10px !important;
}
.icon{
	float: right;
	position: relative;
	top: 30px;

}
.icon .icons:hover{
	color:#26D2C5;
	cursor: pointer; 
}
.icons{
    color:#8B8B8E;	
	font-size: 40px;
}
.position_relative{
	position: relative;
}
.drop{
	position: absolute;
	width: 202px;
	height:196px;
	background-color:#fff;
	top:120px;
    left: 711px;
    display: none;
    border: 1px solid#fff;
}
.drop li{
	margin-bottom: 20px;
	font-family: 'Roboto Mono', monospace;
    font-size:17px;
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid#D1D2DC;
    color: #BDC0C9;
    cursor: pointer;
}
.drop li:hover{
	color:#000;
}
.dp:hover .drop{
	display: block;
 }
.first_drop{
	position:absolute;
	top:120px;
	left: 162px;
 	width:76.22%;
 	height:460px;
 	background-color:#fff;
 	border:1px solid#fff;
 	display:none;
 }
 .first_ul{
 	float: left;
 }
 .first_drop li{
 	padding: 10px;
 	margin-bottom:20px;
 	border-bottom: 1px solid#B1B0B2;
 	font-family: 'Roboto Mono', monospace;
 	list-style-type: none;
 	font-size: 14px;
 	color: #B1B0B2;
 }
 .first_drop .space{
 	padding: 10px;
   margin-bottom: 20px;
   color: #000;
   text-transform: uppercase;
   font-size:24px;
   font-weight: 600;
   font-family: 'Roboto Mono', monospace;
 }
 .width{
 	width: 29.2%;
 }
 .font{
 		font-family: 'Roboto Mono', monospace;
 }
 .margin_left1{
 	margin-left:20px;
 }
 .par{
 	font-size: 14px;
 	color: #B1B0B2;
 }
 .border_bottom{
 	border-bottom: none !important;
 }
 .dp_1:hover .first_drop{
 	display: block;
 }
 .nav_bar2{
 	width: 100%;
 	height: 50px;
 	background-color: #fff;
 	position: relative;
 	top: 99px;
 }
 .home{
 	 	border-right: 1px solid#BDC0C9;
 	 	max-height: 19px;

 }
 .home a{
 	padding-right: 10px;
 	text-decoration:none;
 	font-family: 'Roboto Mono', monospace;
 	color: #BDC0C9;
 }
 .about a{
 	margin-left: 10px;
 	text-decoration:none;
 	font-family: 'Roboto Mono', monospace;
 	color:#26D2C5;
 }
 .box_2{
 	width:1348px;
 	height:593px;
 	position: relative;
 	top: 99px;
 	background-image: url(../img/2.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 }
 .pic_gredient{
 	width: 100%;
 	height: 593px;
 	background-color:#475063e3;
 }
 .text_2{
 	text-align: center;
 	line-height: 593px;
 	font-family: 'Roboto Mono', monospace;
 	font-size:70px;
 	color: #fff;
 }
.par_1{
	width: 1348px;
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    top: 200px;
    color:#4C535A;
}
.par_2{
	width: 1348px;
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    top: 200px;
    color:#4C535A;
}
.box_3{
	width:1348px;
	float: none;
	position: relative;
	top: 230px;
}
.width_par{
	width: 30%;
	color:#B8BBC0;
	font-family: 'Roboto Mono', monospace;
    font-size:16px;
    padding: 20px;
    margin-left: 20px;
}
.box_4{
	width:1348px;
	height: 250px;
	background-color:#F0EFF0;
	float: none;
	position: relative;
	top: 1000px;
}
.min_box1{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
}
.min_box1:hover{
	background-color:#26D2C5;
}
.min_box2{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
	left: 337px;
}
.min_box2:hover{
	background-color:#26D2C5;
	color:#FFF;
}
.min_box3{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
	left:674px;
}
.min_box3:hover{
	background-color:#26D2C5;
	color:#FFF;
}
.min_box4{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
	left: 1011px;
}
.min_box4:hover{
	background-color:#26D2C5;
	color:#FFF;
}
.font_size{
	font-size: 80px;
	color:#B3B2B6;
}
.text_center{
	text-align: center;
	font-size:20px;
 	color: #B1B0B2;
 	font-family: 'Roboto Mono', monospace;
}
.text_cen{
	text-align: center;
}
.margin_top1{
	margin-top: 20px;
}
.contant{
	background-image: url(../img/3.jpg);
	background-size: cover;
	height:500px;
	position: relative;
	top:673px;
	width:1348px;
}
.pic_gredient2{
	height: 500px;
	width:1348px;
	background-color:#535c6ccc;
}
.par_3{
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    top:18px;
    color:#26D2C5;
}
.ab{
	position: absolute;
}
.range{
	left: 561px;
    top: 50px;
    color: #000 !important;
}
.par_4{
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size:35px;
    top:20px;
    color:#26D2C5;
}
.par_5{
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size:12px;
    top:40px;
    color:#BEBFC6;
}
.input_1{
	font-size: 26px;
    padding: 10px;
    color:#fff !important;
    background:none;
    border:2px solid#fff;
    width: 330px;
}
.inp1{
	position: relative;
    top: 142px;
    left: 142px;
}
.inp2{
	position: relative;
    top: 142px;
    left: 185px;
}
.inp3{
	position: relative;
    top: 138px;
    left: 243px;
    cursor: pointer;
}
.input_2{
	padding:20px;
    color: white;
    background-color:#26D2C5;
    outline: none;
    border: none;
}
.team{
	width:1348px;
	float: none;
	height:500px;
	background:#fff;
	position: relative;
	top:673px;
	overflow: hidden;
}
.footer_2{
	width:1348px;
	float: none;
	height: 150px;
	background-color:#F0EFF0;
	position: relative;
	top:1173px;
}
.new_york{
	top:50px;
    position:absolute;
    left: 70px;
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    color: #8B8B8E;
}
.new_york a{
	color: #000;
	font-size: 30px;
}
.hi{
    position:relative;
    height: 387px;
    top: 113px;
    left:0px;
    overflow: hidden;
}
.team_1{
	position: absolute;
	width:36%;
	height:387px;
}
.team_2{
	position: absolute;
	width:36%;
	height:387px;
	left: 365px;
}
.team_3{
	position: absolute;
	width:36%;
	height:387px;
	left: 730px;
}
.team_4{
	position: absolute;
	width:36%;
	height:387px;
	left: 1095px;
}
.team_5{
	position: absolute;
	width:36%;
	height:387px;
	left: 1460px;
}
.cir{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    position: absolute;
    width:41%;
    height: 179px;
    top:102px;
    left:141px;
}
.cir1{
	background-image: url(../img/profile1.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
.cir2{
	background-image: url(../img/4.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
.cir3{
	background-image: url(../img/5.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
.home_box1{
	width:1348px;
	height:650px;
	background-image:url(../img/6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.home_box2{
	width: 100%;
	height: 650px;
	position: relative;
	background-color:#555e6db5;
}
.home_box3{
    width: 100%;
    height:650px;
    position: relative;
}
.container_home_box3{
	width: 80%;
	float: none;
	height:500px;
	position: absolute;
	top: 150px;
    left: 136px;
}
.min_home_box{
	width: 25.28%;
	height: 400px;
	margin: 20px;
}
.paragraph_box{
	font-family: 'Roboto Mono', monospace;
	font-size:50px;
	color: #1C283C;
}
.paragraph_box2{
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	color: #CBCCD6;
}
.paragraph_box3{
	font-size: 14px;
	font-family: 'Roboto Mono', monospace;
	color: #CBCCD6;
}
.home_box4{
	width: 100%;
	height:1900px;
	background-image:url(../img/7.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}
.home_box4_box1{
	width: 100%;
	height:250px;
	background-color:#26d2c5bf;
}
.home_box4_paragraph{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
    font-size: 60px;
    line-height: 250px;
    color:#FCFFFF;
    cursor: pointer;
}
.home_box4_box2{
	width:50%;
	height:450px;
	background-color:#fcffffeb;
	position: relative;
}
.home_box4_box3{
	width:50%;
	height:450px;
	background-color:#fcffffeb;
	position: relative;
}
.watch{
	font-size: 100px;
	position: absolute;
	top:133px;
    left: 289px;
    color:#464446;
}
.home_box4_box2_pargraph{
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
    text-align: center;
    position: absolute;
    top: 270px;
    left: 260px;
    color: #464446;
}
.home_box4_box2_pargraph2{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
    font-size: 12px;
    position: absolute;
    top: 260px;
    left: 0px;
    display: none;
    color: #BEC2C4;
}
.hidden{
	display: none;
}
.home_box4_box2:hover{
	background-color:#363240c2;
}
.home_box4_box2:hover .hidden{	
	display: block;
}
.home_box4_box2:hover .watch{
	font-size: 100px;
	position: absolute;
	top:70px;
    left: 289px;
    color:#F7FDFF;
}
.home_box4_box2:hover .home_box4_box2_pargraph{
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 260px;
    color: #BEC2C4;
}
.home_box4_box3:hover{
	background-color:#363240c2;
}
.home_box4_box3:hover .hidden{	
	display: block;
}
.home_box4_box3:hover .watch{
	font-size: 100px;
	position: absolute;
	top:70px;
    left: 289px;
    color:#F7FDFF;
}
.home_box4_box3:hover .home_box4_box2_pargraph{
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 260px;
    color: #BEC2C4;
}
.col{
	background-color:#32b8cbcf;
}
.left{
	left: 343px !important;
}
.colp{
	left: 190px !important;
}
.botton{
	width: 100%;
	height: 300px;
    background-color:#32b8cbcf;
    position: relative;
}
.botton_box{
	cursor: pointer;
	overflow: hidden;
	width:20%;
	position: absolute;
    top: 133px;
    left: 553px;
	height:50px; 
	border-right:2px solid#fff;
	border-left: 2px solid#fff; 
}
.botton_min_box{
	height: 50px;
	width:50%;
    border-top: 2px solid#fff;
	border-bottom: 2px solid#fff;
	position: absolute;
    left: -70px;
}
.botton_min_box2{
	height: 50px;
	width:50%;
	border-top: 2px solid#fff;
	border-bottom: 2px solid#fff;
    position: absolute;
    left: 210px;
}
.botton_box:hover .botton_min_box{
	left: 0px;
	transition:2s;
}
.botton_box:hover .botton_min_box2{
	left: 133px;
	transition:2s;
}
.botton_box_paragraph{
	font-family: 'Roboto Mono', monospace;
	position: absolute;
    top: 11px;
    left: 45px;
    font-size: 19px;
    color:#E6E6E6; 
}
.project_box{
	width: 100%;
	height:782px;
	background-color:#fff;
	position: relative;
}
.project_box_pargraph{
	font-size: 50px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color:#262C41;
    margin-top: 20px;
}
.container_project_box{
	width: 80%;
	height:650px;
	position: absolute;
	left: 180px;
	top: 130px;
}
.project_box_min{
	width:28%;
	height: 400px;
	margin-left: 20px;
}
.min_boxi{
	width:100%;
	height: 200px;
	margin-bottom: 20px;
}
.gredient_hove{
	width:100%;
	height: 200px;
}
.min_img{
	background-image: url(../img/8.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.min_img2{
	background-image: url(../img/9.jpg);
	background-size: cover;
	background-repeat: no-repeat;	
}
.min_img3{
    background-image: url(../img/10.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.further{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 21px;
    color: #7CD1CB;
    text-align: center;
}
.further2{
	margin-top: 20px;
	color:#828385;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	text-align: center;
}
.mirror{
	font-size: 49px;
    position: absolute;
    top:70px;
    left: 145px;
    color:#828385;
}
.mirror2{
	font-size: 49px;
    position: absolute;
    top:70px;
    left:460px;
    color:#828385;
}
.mirror3{
	font-size: 49px;
    position: absolute;
    top:70px;
    left:790px;
    color:#828385;
}
.gredient_hove:hover{
	cursor: pointer;
	background-color:#202a37bd;
}
.gredient_hove:hover .ic{
	  color: #26D2C5;
	  cursor: pointer;
}
.botton_min_2{
	top: 536px;
    left:382px;
    border-right: 2px solid#68666B;
    border-left: 2px solid#68666B;
}
.fon_pro{
	font-size: 17px;
	color:#68666B;
	left:26px;
}
.boxing{
	border-top: 2px solid#68666B;
    border-bottom: 2px solid#68666B;
}
.boxing_box{
	left: 188px;
}
.botton_min_2:hover .boxing_box{
	left: 106px;
}
.input_boxing{
	width: 100%;
	height:500px;
	background-image: url(../img/11.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.input_gradient{
	position: relative;
	width: 100%;
	height:500px;
	background-color:#26d2c5c4;
}
.input_box1{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	text-align: center;
	color: #fff;
}
.input_box2{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size:44px;
	text-align: center;
	color: #fff;
}
.input_box3{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size:14px;
	text-align: center;
	color: #fff;
}
.input_box3_min1{
	position: absolute;
	top: 260px;
    left: 210px;
}
.input_box3_min2{
	position: absolute;
	top: 260px;
    left:605px;
}
.input_box3_min3{
	position: absolute;
	top: 260px;
    left: 1000px;
    cursor: pointer;
}
.team_top{
	top: 0px;
}
.team_top2{
	left: 510px;
}
.icon_box{
	width: 100%;
	height: 500px;
	background-image:url(../img/12.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.icon_box_gradient{
	position: relative;
	width: 100%;
	height: 500px;
	background-color:#434e61d1;
}
.icon_box_min1{
	left: 400px;
    top: 165px;
}
.icon_box_min2{
	top: 165px;
    left: 800px;
}
.social_net{
	position: absolute;
    top: 240px;
    left: 394px;
}
.social_icons_box{
	position: absolute;
    top: 355px;
    left: 550px;
}
.what{
	font-size: 40px;
	padding: 20px;
	color:#EDEDF2;
	cursor: pointer;
}
.what:hover{
	color:#26D2C5;
}
.contact_information{
	width: 100%;
	height: 580px;
	background-color:#fff;
	position: relative;
}
.contact_box{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 40px;
	color: #212A39;
    text-align: center;
}
.container_contact_information{
	width: 80%;
	height: 500px;
	width: 80%;
    height: 500px;
    position: absolute;
    left: 134px;
}
.contact_box1{
	width:45%;
	height: 500px;
}
.contact_box2{
	width:55%;
	height: 500px;
}
.check{
	outline: none;
	color: #93949C !important;
	width:94%;
    padding:15px;
    font-size: 19px;
    margin-top: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid#DDDCE1;
}
.p_check{
	font-size: 25px;
	color: #26D2C5;
}
.p1_check{
	font-size: 22px;
    color:#808080;
    position: absolute;
    top: 30px;
}
.p2_check{
	position: absolute;
    top: 103px;
    font-size: 22px;
    color:#808080;
}
.p3_check{
	position: absolute;
    top: 175px;
    font-size: 22px;
    color:#808080;
}
.p4_check{
	position: absolute;
    top: 250px;
    font-size: 22px;
    color:#808080;
}
.info_p{
	left: 84px;
}
.info_p1{
	left: 486px;
    top: 370px;
}
.info_p1:hover .info_p{
	color:#26D2C5; 
}
.home_box2_min{
	width: 100%;
	height:300px;
	position: absolute;
	top: 350px;
}
.home_width{
	width: 25%;
	height: 300px;
    background-color:#26d2c5c9;
}
.libulb_home{
	font-size: 100px;
    position: absolute;
    top:80px;
    left: 115px;
    color: #fff;
}
.libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:210px;
    left: 66px;
    color: #fff;
}
.read_more{
	display: none;
	top: 215px;
    left:49px;
    top: 215px;
    width: 16%;
}
.read_more2{
	left: 58px;
}
.hovers_1:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_1:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left: 115px;
    color: #fff;
}
.hovers_1:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left: 66px;
    color: #fff;
}
.hovers_1:hover .read_more{
	display:block;
	top: 215px;
    left:49px;
    top: 230px;
    width: 16%;
}
.hom2{
	left: 462px;
}
.hom3{
	left: 430px
}
.hom4{
	left: 430px
}
.hovers_2:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_2:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left:462px;
    color: #fff;
}
.hovers_2:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left:430px;
    color: #fff;
}
.hovers_2:hover .read_more{
	display:block;
	top: 215px;
    left:400px;
    top: 230px;
    width: 16%;
}
.hom5{
	left: 778px;
}
.hom6{
	left: 733px;
}
.hom7{
	left: 730px;
}
.hovers_3:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_3:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left:778px;
    color: #fff;
}
.hovers_3:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left:733px;
    color: #fff;
}
.hovers_3:hover .read_more{
	display:block;
	top: 215px;
    left:730px;
    top: 230px;
    width: 16%;
}
.hom8{
	left: 1150px;
}
.hom9{
	left: 1090px;
}
.hom10{
	left: 1088px;
}
.hovers_4:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_4:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left:1150px;
    color: #fff;
}
.hovers_4:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left:1090px;
    color: #fff;
}
.hovers_4:hover .read_more{
	display:block;
	top: 215px;
    left:1088px;
    top: 230px;
    width: 16%;
} 
} 
@media only screen and (max-width: 320px) {
	*{
	margin: 0px;
	padding: 0px;
}
div{
	float: left;
	box-sizing: border-box;
}
.nav_bar{
	width: 100%;
	color:#fff;
	height: 100px;
    position:fixed;
    z-index: 3;
    background-color: #fff;
}
.container{
	float: none;
	width: 90%;
	margin: 0px auto;
}
.logo{
	color: #000;
	font-family: 'Roboto Mono', monospace;
	font-size: 35px;
	font-weight: 600;
    line-height: 100px;
    text-transform: uppercase;
    cursor: pointer;
}
.color{
	color:#26D2C5 !important;
}
.text{
	text-transform: uppercase;
	color:#B1B0B2;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	position: relative;
	top:48px;
    left:50px;
}
.link a{
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	font-family: 'Roboto Mono', monospace;
	font-size:18px;
	text-transform: uppercase;
	position: relative;
	left:120px;
	top: 43px;
	color:#8B8B8E;
}
.link a:hover{
		color:#26D2C5; 
}
.margin_left{
	margin-left: -10px !important;
}
.icon{
	float: right;
	position: relative;
	top: 30px;

}
.icon .icons:hover{
	color:#26D2C5;
	cursor: pointer; 
}
.icons{
    color:#8B8B8E;	
	font-size: 40px;
}
.position_relative{
	position: relative;
}
.drop{
	position: absolute;
	width: 202px;
	height:196px;
	background-color:#fff;
	top:120px;
    left: 711px;
    display: none;
    border: 1px solid#fff;
}
.drop li{
	margin-bottom: 20px;
	font-family: 'Roboto Mono', monospace;
    font-size:17px;
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid#D1D2DC;
    color: #BDC0C9;
    cursor: pointer;
}
.drop li:hover{
	color:#000;
}
.dp:hover .drop{
	display: block;
 }
.first_drop{
	position:absolute;
	top:120px;
	left: 162px;
 	width:76.22%;
 	height:460px;
 	background-color:#fff;
 	border:1px solid#fff;
 	display:none;
 }
 .first_ul{
 	float: left;
 }
 .first_drop li{
 	padding: 10px;
 	margin-bottom:20px;
 	border-bottom: 1px solid#B1B0B2;
 	font-family: 'Roboto Mono', monospace;
 	list-style-type: none;
 	font-size: 14px;
 	color: #B1B0B2;
 }
 .first_drop .space{
 	padding: 10px;
   margin-bottom: 20px;
   color: #000;
   text-transform: uppercase;
   font-size:24px;
   font-weight: 600;
   font-family: 'Roboto Mono', monospace;
 }
 .width{
 	width: 29.2%;
 }
 .font{
 		font-family: 'Roboto Mono', monospace;
 }
 .margin_left1{
 	margin-left:20px;
 }
 .par{
 	font-size: 14px;
 	color: #B1B0B2;
 }
 .border_bottom{
 	border-bottom: none !important;
 }
 .dp_1:hover .first_drop{
 	display: block;
 }
 .nav_bar2{
 	width: 100%;
 	height: 50px;
 	background-color: #fff;
 	position: relative;
 	top: 99px;
 }
 .home{
 	 	border-right: 1px solid#BDC0C9;
 	 	max-height: 19px;

 }
 .home a{
 	padding-right: 10px;
 	text-decoration:none;
 	font-family: 'Roboto Mono', monospace;
 	color: #BDC0C9;
 }
 .about a{
 	margin-left: 10px;
 	text-decoration:none;
 	font-family: 'Roboto Mono', monospace;
 	color:#26D2C5;
 }
 .box_2{
 	width:1348px;
 	height:593px;
 	position: relative;
 	top: 99px;
 	background-image: url(../img/2.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 }
 .pic_gredient{
 	width: 100%;
 	height: 593px;
 	background-color:#475063e3;
 }
 .text_2{
 	text-align: center;
 	line-height: 593px;
 	font-family: 'Roboto Mono', monospace;
 	font-size:70px;
 	color: #fff;
 }
.par_1{
	width: 1348px;
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    top: 200px;
    color:#4C535A;
}
.par_2{
	width: 1348px;
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    top: 200px;
    color:#4C535A;
}
.box_3{
	width:1348px;
	float: none;
	position: relative;
	top: 230px;
}
.width_par{
	width: 30%;
	color:#B8BBC0;
	font-family: 'Roboto Mono', monospace;
    font-size:16px;
    padding: 20px;
    margin-left: 20px;
}
.box_4{
	width:1348px;
	height: 250px;
	background-color:#F0EFF0;
	float: none;
	position: relative;
	top: 1000px;
}
.min_box1{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
}
.min_box1:hover{
	background-color:#26D2C5;
}
.min_box2{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
	left: 337px;
}
.min_box2:hover{
	background-color:#26D2C5;
	color:#FFF;
}
.min_box3{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
	left:674px;
}
.min_box3:hover{
	background-color:#26D2C5;
	color:#FFF;
}
.min_box4{
	position: absolute;
	width: 25%;
	height:280px;
	top:-12px;
	left: 1011px;
}
.min_box4:hover{
	background-color:#26D2C5;
	color:#FFF;
}
.font_size{
	font-size: 80px;
	color:#B3B2B6;
}
.text_center{
	text-align: center;
	font-size:20px;
 	color: #B1B0B2;
 	font-family: 'Roboto Mono', monospace;
}
.text_cen{
	text-align: center;
}
.margin_top1{
	margin-top: 20px;
}
.contant{
	background-image: url(../img/3.jpg);
	background-size: cover;
	height:500px;
	position: relative;
	top:673px;
	width:1348px;
}
.pic_gredient2{
	width: 1348px;
	height: 500px;
	width: 100%;
	background-color:#535c6ccc;
}
.par_3{
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    top:18px;
    color:#26D2C5;
}
.ab{
	position: absolute;
}
.range{
	left: 561px;
    top: 50px;
    color: #000 !important;
}
.par_4{
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size:35px;
    top:20px;
    color:#26D2C5;
}
.par_5{
	position: relative;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size:12px;
    top:40px;
    color:#BEBFC6;
}
.input_1{
	font-size: 26px;
    padding: 10px;
    color:#fff !important;
    background:none;
    border:2px solid#fff;
    width: 330px;
}
.inp1{
	position: relative;
    top: 142px;
    left: 142px;
}
.inp2{
	position: relative;
    top: 142px;
    left: 185px;
}
.inp3{
	position: relative;
    top: 138px;
    left: 243px;
    cursor: pointer;
}
.input_2{
	padding:20px;
    color: white;
    background-color:#26D2C5;
    outline: none;
    border: none;
}
.team{
	width:1348px;
	float: none;
	height:500px;
	background:#fff;
	position: relative;
	top:673px;
	overflow: hidden;
}
.footer_2{
	width:1348px;
	float: none;
	height: 150px;
	background-color:#F0EFF0;
	position: relative;
	top:1173px;
}
.new_york{
	top:50px;
    position:absolute;
    left: 70px;
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    color: #8B8B8E;
}
.new_york a{
	color: #000;
	font-size: 30px;
}
.hi{
    position:relative;
    height: 387px;
    top: 113px;
    left:0px;
    overflow: hidden;
}
.team_1{
	position: absolute;
	width:36%;
	height:387px;
}
.team_2{
	position: absolute;
	width:36%;
	height:387px;
	left: 365px;
}
.team_3{
	position: absolute;
	width:36%;
	height:387px;
	left: 730px;
}
.team_4{
	position: absolute;
	width:36%;
	height:387px;
	left: 1095px;
}
.team_5{
	position: absolute;
	width:36%;
	height:387px;
	left: 1460px;
}
.cir{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    position: absolute;
    width:41%;
    height: 179px;
    top:102px;
    left:141px;
}
.cir1{
	background-image: url(../img/profile1.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
.cir2{
	background-image: url(../img/4.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
.cir3{
	background-image: url(../img/5.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
.home_box1{
	width:1348px;
	height:650px;
	background-image:url(../img/6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.home_box2{
	width: 100%;
	height: 650px;
	position: relative;
	background-color:#555e6db5;
}
.home_box3{
    width: 100%;
    height:650px;
    position: relative;
}
.container_home_box3{
	width: 80%;
	float: none;
	height:500px;
	position: absolute;
	top: 150px;
    left: 136px;
}
.min_home_box{
	width: 25.28%;
	height: 400px;
	margin: 20px;
}
.paragraph_box{
	font-family: 'Roboto Mono', monospace;
	font-size:50px;
	color: #1C283C;
}
.paragraph_box2{
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	color: #CBCCD6;
}
.paragraph_box3{
	font-size: 14px;
	font-family: 'Roboto Mono', monospace;
	color: #CBCCD6;
}
.home_box4{
	width: 100%;
	height:1900px;
	background-image:url(../img/7.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}
.home_box4_box1{
	width: 100%;
	height:250px;
	background-color:#26d2c5bf;
}
.home_box4_paragraph{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
    font-size: 60px;
    line-height: 250px;
    color:#FCFFFF;
    cursor: pointer;
}
.home_box4_box2{
	width:50%;
	height:450px;
	background-color:#fcffffeb;
	position: relative;
}
.home_box4_box3{
	width:50%;
	height:450px;
	background-color:#fcffffeb;
	position: relative;
}
.watch{
	font-size: 100px;
	position: absolute;
	top:133px;
    left: 289px;
    color:#464446;
}
.home_box4_box2_pargraph{
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
    text-align: center;
    position: absolute;
    top: 270px;
    left: 260px;
    color: #464446;
}
.home_box4_box2_pargraph2{
	font-family: 'Roboto Mono', monospace;
	text-align: center;
    font-size: 12px;
    position: absolute;
    top: 260px;
    left: 0px;
    display: none;
    color: #BEC2C4;
}
.hidden{
	display: none;
}
.home_box4_box2:hover{
	background-color:#363240c2;
}
.home_box4_box2:hover .hidden{	
	display: block;
}
.home_box4_box2:hover .watch{
	font-size: 100px;
	position: absolute;
	top:70px;
    left: 289px;
    color:#F7FDFF;
}
.home_box4_box2:hover .home_box4_box2_pargraph{
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 260px;
    color: #BEC2C4;
}
.home_box4_box3:hover{
	background-color:#363240c2;
}
.home_box4_box3:hover .hidden{	
	display: block;
}
.home_box4_box3:hover .watch{
	font-size: 100px;
	position: absolute;
	top:70px;
    left: 289px;
    color:#F7FDFF;
}
.home_box4_box3:hover .home_box4_box2_pargraph{
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 260px;
    color: #BEC2C4;
}
.col{
	background-color:#32b8cbcf;
}
.left{
	left: 343px !important;
}
.colp{
	left: 190px !important;
}
.botton{
	width: 100%;
	height: 300px;
    background-color:#32b8cbcf;
    position: relative;
}
.botton_box{
	cursor: pointer;
	overflow: hidden;
	width:20%;
	position: absolute;
    top: 133px;
    left: 553px;
	height:50px; 
	border-right:2px solid#fff;
	border-left: 2px solid#fff; 
}
.botton_min_box{
	height: 50px;
	width:50%;
    border-top: 2px solid#fff;
	border-bottom: 2px solid#fff;
	position: absolute;
    left: -70px;
}
.botton_min_box2{
	height: 50px;
	width:50%;
	border-top: 2px solid#fff;
	border-bottom: 2px solid#fff;
    position: absolute;
    left: 210px;
}
.botton_box:hover .botton_min_box{
	left: 0px;
	transition:2s;
}
.botton_box:hover .botton_min_box2{
	left: 133px;
	transition:2s;
}
.botton_box_paragraph{
	font-family: 'Roboto Mono', monospace;
	position: absolute;
    top: 11px;
    left: 45px;
    font-size: 19px;
    color:#E6E6E6; 
}
.project_box{
	width: 100%;
	height:782px;
	background-color:#fff;
	position: relative;
}
.project_box_pargraph{
	font-size: 50px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color:#262C41;
    margin-top: 20px;
}
.container_project_box{
	width: 80%;
	height:650px;
	position: absolute;
	left: 180px;
	top: 130px;
}
.project_box_min{
	width:28%;
	height: 400px;
	margin-left: 20px;
}
.min_boxi{
	width:100%;
	height: 200px;
	margin-bottom: 20px;
}
.gredient_hove{
	width:100%;
	height: 200px;
}
.min_img{
	background-image: url(../img/8.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.min_img2{
	background-image: url(../img/9.jpg);
	background-size: cover;
	background-repeat: no-repeat;	
}
.min_img3{
    background-image: url(../img/10.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.further{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 21px;
    color: #7CD1CB;
    text-align: center;
}
.further2{
	margin-top: 20px;
	color:#828385;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	text-align: center;
}
.mirror{
	font-size: 49px;
    position: absolute;
    top:70px;
    left: 145px;
    color:#828385;
}
.mirror2{
	font-size: 49px;
    position: absolute;
    top:70px;
    left:460px;
    color:#828385;
}
.mirror3{
	font-size: 49px;
    position: absolute;
    top:70px;
    left:790px;
    color:#828385;
}
.gredient_hove:hover{
	cursor: pointer;
	background-color:#202a37bd;
}
.gredient_hove:hover .ic{
	  color: #26D2C5;
	  cursor: pointer;
}
.botton_min_2{
	top: 536px;
    left:382px;
    border-right: 2px solid#68666B;
    border-left: 2px solid#68666B;
}
.fon_pro{
	font-size: 17px;
	color:#68666B;
	left:26px;
}
.boxing{
	border-top: 2px solid#68666B;
    border-bottom: 2px solid#68666B;
}
.boxing_box{
	left: 188px;
}
.botton_min_2:hover .boxing_box{
	left: 106px;
}
.input_boxing{
	width: 100%;
	height:500px;
	background-image: url(../img/11.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.input_gradient{
	position: relative;
	width: 100%;
	height:500px;
	background-color:#26d2c5c4;
}
.input_box1{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 50px;
	text-align: center;
	color: #fff;
}
.input_box2{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size:44px;
	text-align: center;
	color: #fff;
}
.input_box3{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size:14px;
	text-align: center;
	color: #fff;
}
.input_box3_min1{
	position: absolute;
	top: 260px;
    left: 210px;
}
.input_box3_min2{
	position: absolute;
	top: 260px;
    left:605px;
}
.input_box3_min3{
	position: absolute;
	top: 260px;
    left: 1000px;
    cursor: pointer;
}
.team_top{
	top: 0px;
}
.team_top2{
	left: 510px;
}
.icon_box{
	width: 100%;
	height: 500px;
	background-image:url(../img/12.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.icon_box_gradient{
	position: relative;
	width: 100%;
	height: 500px;
	background-color:#434e61d1;
}
.icon_box_min1{
	left: 400px;
    top: 165px;
}
.icon_box_min2{
	top: 165px;
    left: 800px;
}
.social_net{
	position: absolute;
    top: 240px;
    left: 394px;
}
.social_icons_box{
	position: absolute;
    top: 355px;
    left: 550px;
}
.what{
	font-size: 40px;
	padding: 20px;
	color:#EDEDF2;
	cursor: pointer;
}
.what:hover{
	color:#26D2C5;
}
.contact_information{
	width: 100%;
	height: 580px;
	background-color:#fff;
	position: relative;
}
.contact_box{
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	font-size: 40px;
	color: #212A39;
    text-align: center;
}
.container_contact_information{
	width: 80%;
	height: 500px;
	width: 80%;
    height: 500px;
    position: absolute;
    left: 134px;
}
.contact_box1{
	width:45%;
	height: 500px;
}
.contact_box2{
	width:55%;
	height: 500px;
}
.check{
	outline: none;
	color: #93949C !important;
	width:94%;
    padding:15px;
    font-size: 19px;
    margin-top: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid#DDDCE1;
}
.p_check{
	font-size: 25px;
	color: #26D2C5;
}
.p1_check{
	font-size: 22px;
    color:#808080;
    position: absolute;
    top: 30px;
}
.p2_check{
	position: absolute;
    top: 103px;
    font-size: 22px;
    color:#808080;
}
.p3_check{
	position: absolute;
    top: 175px;
    font-size: 22px;
    color:#808080;
}
.p4_check{
	position: absolute;
    top: 250px;
    font-size: 22px;
    color:#808080;
}
.info_p{
	left: 84px;
}
.info_p1{
	left: 486px;
    top: 370px;
}
.info_p1:hover .info_p{
	color:#26D2C5; 
}
.home_box2_min{
	width: 100%;
	height:300px;
	position: absolute;
	top: 350px;
}
.home_width{
	width: 25%;
	height: 300px;
    background-color:#26d2c5c9;
}
.libulb_home{
	font-size: 100px;
    position: absolute;
    top:80px;
    left: 115px;
    color: #fff;
}
.libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:210px;
    left: 66px;
    color: #fff;
}
.read_more{
	display: none;
	top: 215px;
    left:49px;
    top: 215px;
    width: 16%;
}
.read_more2{
	left: 58px;
}
.hovers_1:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_1:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left: 115px;
    color: #fff;
}
.hovers_1:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left: 66px;
    color: #fff;
}
.hovers_1:hover .read_more{
	display:block;
	top: 215px;
    left:49px;
    top: 230px;
    width: 16%;
}
.hom2{
	left: 462px;
}
.hom3{
	left: 430px
}
.hom4{
	left: 430px
}
.hovers_2:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_2:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left:462px;
    color: #fff;
}
.hovers_2:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left:430px;
    color: #fff;
}
.hovers_2:hover .read_more{
	display:block;
	top: 215px;
    left:400px;
    top: 230px;
    width: 16%;
}
.hom5{
	left: 778px;
}
.hom6{
	left: 733px;
}
.hom7{
	left: 730px;
}
.hovers_3:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_3:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left:778px;
    color: #fff;
}
.hovers_3:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left:733px;
    color: #fff;
}
.hovers_3:hover .read_more{
	display:block;
	top: 215px;
    left:730px;
    top: 230px;
    width: 16%;
}
.hom8{
	left: 1150px;
}
.hom9{
	left: 1090px;
}
.hom10{
	left: 1088px;
}
.hovers_4:hover{
	background-color:#26D2C5; 
	cursor: pointer;
}
.hovers_4:hover .libulb_home{
	font-size: 100px;
    position: absolute;
    top:50px;
    left:1150px;
    color: #fff;
}
.hovers_4:hover .libulb_home_p{
	font-size: 30px;
    position: absolute;
    top:181px;
    left:1090px;
    color: #fff;
}
.hovers_4:hover .read_more{
	display:block;
	top: 215px;
    left:1088px;
    top: 230px;
    width: 16%;
} 
} 