.box{
	float: left;
	width: 19%;
	height: 200px;
	background: red;
	border: 1px solid black;
	color: white;
	text-align: center;
	line-height: 200px;
	font-size: 20px;
}

@media (max-width: 800px){
	.box{
		width: 29%
	}
	.b{background: blue}
}
@media (max-width: 500px){
	.box{
		width: 49%
	}
	.b{background: yellow;color: black}
}
@media (max-width: 450px){
	.box{
		width: 99%
	}
	.b{display: none;}
}